# LaTeX specific
**/*.aux
**/*.bbl
**/*.blg
**/*.idx
**/*.ind
**/*.lof
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.fls
**/*.log
**/*.fdb_latexmk
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb
**/*.dvi
**/*.ps
**/*.spl
**/*.run.xml
**/*-blx.aux
**/*-blx.bib
**/*.bcf
**/*.alg
**/*.thm
**/*.nav
**/*.pre
**/*.end
**/*.acn
**/*.acr
**/*.fls
**/*.xdv
**/*.lol
**/*.loa
**/*.upa
**/*.upb
**/*.pyg

# VSCode specific
.vscode/

# Other files to ignore
*.DS_Store
*~
